* {
  box-sizing: border-box;
}

:root {
  --border-radius: 5px;
  --border-width: 1px;
  --light-grey: #e2e0e0;
  --green: #74ff3b;
  --pink: #ff3077;
}

body {
  font-family: 'Stylish';
  background-color: #4CB8C4;
}

#calculator {
  width: 32%;
  height: 80%;
  min-width: 300px;
  min-height: 400px;
  background-color: #0c2835;
  margin: auto;
  margin-top: 80px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  padding: 10px;
  box-shadow: 25px 25px 57px #1e4a4e,
    -30px -30px 51px rgba(0, 0, 0, 0.1);
}

#calculator h1 {
  border-radius: 10px;
  background: #e8e8e8;
  box-shadow: inset 9px 9px 22px #9b9b9b,
    inset -9px -9px 22px #ffffff;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}

#display-container {
  font-size: 2.8rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: var(--pink);
  width: 100%;
  height: 20%;
  min-height: 100px;
  border-radius: var(--border-radius);
  background: #e8e8e8;
  box-shadow: inset 9px 9px 22px #9b9b9b,
    inset -9px -9px 22px #ffffff;
  margin-bottom: 10px;
}

#display-container p {
  margin: 0.5rem;
  vertical-align: text-bottom;
}

#buttons-container {
  width: 100%;
  height: 60%;
  min-height: 300px;
  border: var(--border-width) solid #091921;
  border-radius: var(--border-radius);
  background-color: var(--light-grey);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.button {
  width: 25%;
  height: 20%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-width) solid #091921;
  background-color: #0c2835;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  transition-duration: 1s;
  padding: 1px;
}

.inset-shadow {
  box-shadow: inset 7px 7px 14px #061217,
    inset -7px -7px 14px #0c212b;
}

.button:hover {
  background-color: var(--green);
  box-shadow: inset 7px 7px 14px #51b329,
    inset -7px -7px 14px #97ff4d;
  color: #000;
}

.pink {
  background-color: var(--pink);
  box-shadow: inset 12px 12px 27px #9c1d49,
    inset -12px -12px 27px #ff43a5;
  color: white;
}

#button-zero {
  width: 50%;
}
